{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Editar la información de la propiedad {{ inmueble.nombre }}</h3>
    <form action="{% url 'edit_property' id=inmueble.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4 p-3">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required placeholder="Nombre de la propiedad" name="nombre" value="{{ inmueble.nombre }}">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3" required placeholder="Descripción de la propiedad" name="descripcion">{{ inmueble.descripcion }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="m2_construidos" class="form-label">Metros construidos</label>
                    <input min="1" type="number" class="form-control" id="m2_construidos" required placeholder="Mínimo 23 m^2" name="m2_construidos" value="{{ inmueble.m2_construidos }}">
                </div>
                <div class="mb-3">
                    <label for="m2_totales" class="form-label">Metros totales</label>
                    <input min="1" type="number" class="form-control" id="m2_totales" required placeholder="Mínimo 50 m^2" name="m2_totales" value="{{ inmueble.m2_totales }}">
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="mb-3">
                    <label for="estacionamientos" class="form-label">N° de estacionamientos</label>
                    <input min="0" type="number" class="form-control" id="estacionamientos" required placeholder="Ingrese cantidad" name="estacionamientos" value="{{ inmueble.estacionamientos }}">
                </div>
                <div class="mb-3">
                    <label for="habitaciones" class="form-label">N° de habitaciones</label>
                    <input min="1" type="number" class="form-control" id="habitaciones" required placeholder="Ingrese cantidad" name="habitaciones" value="{{ inmueble.habitaciones }}">
                </div>
                <div class="mb-3">
                    <label for="bagnos" class="form-label">N° de baños</label>
                    <input min="1" type="number" class="form-control" id="bagnos" required placeholder="Ingrese cantidad" name="bagnos" value="{{ inmueble.bagnos }}">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" required placeholder="Dirección de la propiedad" name="direccion" value="{{ inmueble.direccion }}">
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="mb-3">
                    <select class="form-select" required name="tipo_inmueble">
                        <option value>Selecciona un tipo</option>
                        {% for tipo in inmueble.tipo_inmueble %}
                            <option value="{{ tipo.0 }}" {% if tipo.0 == inmueble.tipo_de_inmueble %} selected {% endif %}>{{ tipo.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio (CLP)</label>
                    <input type="number" class="form-control" id="precio" required placeholder="Valor del arriendo ($100000)" name="precio" value="{{ inmueble.precio }}">
                </div>
                <div class="mb-3">
                    <select class="form-select" required name="region_cod" id="region_cod">
                        <option value>Selecciona una región</option>
                        {% for region in regiones %}
                            <option value="{{ region.cod }}" {% if region.cod == cod_region %} selected {% endif %}>{{ region.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" required name="cod_comuna" id="cod_comuna">
                        <option value>Selecciona una comuna</option>
                        {% for comuna in comunas %}
                            <option value="{{ comuna.cod }}" {% if comuna.cod == inmueble.comuna_id %} selected {% endif %}>{{ comuna.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar cambios</button>
        </div>
    </form>
    
{% endblock %}

{% block js%}
    <script>
        function filtrar_comunas(){
            //se obtene valor de region seleccionada
            const cod_seleccionado = $(this).val()
            //console.log(cod_seleccionado)
            //iterar sobre todas las comunas y mostrar solo las corrrespondientes a la region seleccionada, se verifica por prefijo del codigo de comuna
            $('#cod_comuna option').each(function() {
                const comuna = $(this)
                const cod_comuna = comuna.val()
                if (cod_seleccionado == cod_comuna.substring(0,2)){
                    comuna.show()
                } else {
                    comuna.hide()
                }
            })
        }
        $('#region_cod').on('change', filtrar_comunas)
    </script>
{% endblock %}